<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="CONSOLE_LOCAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"HH:mm:ss,SSS"} %-5level %logger{50}-%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" />
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE" />
    <logger name="com.github.dockerjava" level="INFO" />
    <logger name="org.testcontainers" level="INFO" />

    <root level="INFO">
        <appender-ref ref="${APPENDER:-CONSOLE_LOCAL}"/>
    </root>
</configuration>
